[req]
distinguished_name = req_distinguished_name
prompt = no
x509_extensions = codesign_ext

[req_distinguished_name]
C = US
O = Telegram FZ-LLC
OU = C67CF9S4VU
CN = Apple Distribution: Telegram FZ-LLC (C67CF9S4VU)

[codesign_ext]
basicConstraints = critical,CA:TRUE
keyUsage = critical,digitalSignature,keyCertSign
extendedKeyUsage = critical,codeSigning
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
